@import "tailwindcss";

@theme {
    --color-primary: #1CB351;
    --color-dark: #121212;
    --color-dark-2: #202020;
}

@layer base {
    body {
        @apply bg-dark text-white h-screen border border-neutral-700
    }
}