@import "tailwindcss";

@theme {
    --color-primary: #1CB351;
    --color-dark: #121212;
    --color-dark-2: #202020;
    --color-dark-3: #333333;
    --color-dark-4: #454545;
}

@layer base {
    body {
        @apply bg-dark text-white overflow-x-hidden
    }

    .rhap_container > .rhap_main {
        & > div:nth-child(1) {
            & > .rhap_time {
                color: lightgray !important;
            }

            & .rhap_progress-indicator,
            & .rhap_progress-filled {
                background-color: var(--color-primary) !important;
            }
        }

        & > div:nth-child(2) {
            & > .rhap_main-controls button {
                width: auto !important;
                height: auto !important;

                & svg {
                    color: var(--color-primary) !important;
                    width: 60px !important;
                    height: 60px !important;
                }
            }
        }
    }
}